body{
    background-image:url(fondo1.png);
    
}
h1{
    background-color:rgb(65, 106, 168);
    display: block;
    padding: 10px 20px 5px 20px;
    color:rgb(255, 255, 255);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px 10px 30px 10 px;
    border-radius:20px;
    text-shadow:2px 2px 2px  rgb(146, 173, 223);
      
}
img{
    width: 150px;
    margin: 10px auto 10px;
    display: block; 
     }

div1{
    background-color:rgb(65, 106, 168);
    display: inline-block;
    padding: 20px;
    margin:38px 80px 50px 80px;
    border-radius:20px;
    text-align:left;
    color:rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 4px 15px 5px #000;
     }

form input{
        display:block;    
        color:rgb(9, 9, 90);
        border-radius: 10px;        
}


div2{
    background-color:rgb(70, 117, 187);
    display:inline-block;
    position: absolute; top:130px; left:450px; right:450px; bottom:150px;
    padding: 40px 60px 60px 60px;
    border-radius:20px;
    text-align:left;
    color:rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 4px 15px 5px #000;
     }
          
select, button{
    background-color:rgb(9, 9, 90);
    color:rgb(255, 255, 255);
    border-radius: 10px; 
    }
