@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body{
    margin:0px;
    background-color:rgb(255, 255, 255);
     }

    .page-nave{
     display:inline-flex;
     padding: 0px 0px;
     color:#384D59;
     margin: 0px 0 px;    
     text-shadow:2px 2px 2px #C1D9D9;
     font-family:'Baloo Tammudu 2', 'cursive';
      }

    img.logo{
    background: url(IMG/Logo.png); 
    width: 200px;
    height: 200px;
    display:inline-block
   }
   
   
   h1{ 
      background-color:#384D59;
      color:rgb(255, 255, 255);
      font-family:'Handlee', cursive;  
      font-size: xx-large;
      margin: 0px 0px;
      display:inline-block;
      }
   
    h2{
      display:block ;
      background-color:rgb(255, 255, 255);
      color:#384D59;
      border-radius: 10px; 
      font-family:'Handlee', cursive;  
      text-align: center;
      margin: 10px 0px;
    }

    h3{
      display:inline-flex;
      background-color:rgb(255, 255, 255);
      color:#384D59;
      border-radius: 10px; 
      font-family:'Handlee', cursive;  
      text-align:left;
      margin: 0px 40px;
    }

  .datos{
      color:#384D59;
      font-family:'Handlee', cursive;     
      display: flex;
   }

   
   .container1{
      display:flex;
      flex-wrap: wrap;
      justify-content:space-evenly;
      align-items:flex-start;
      background-image: url(IMG/fondo2.png);
      
   }

   .button-comprar{
      transition-duration:0.4s;
      display: inline-flex;
      margin: 10 px 0px;
      background-color:#384D59;
      color:rgb(255, 255, 255);
      border-radius: 10px; 
      font-family:'Handlee', cursive;  
      left: 80px;
      font-size:large;
        
        
   }
   
   .button-comprar:hover{
   background-color: blue;
   border: cornsilk;
     
   }
   
   .producto{
      margin:50px;
      padding: 2px 16px;
   }

   .producto:hover{
      box-shadow: 0 8px 16px 0 black;
      background-color:#A4BABF;
    }

   .producto img{
      width: 300px;

   }  
       
   .container{
        width: 200vw;
        height: 200vh;
        display: flex ;
        align-items:flex-start;  
        background-image: url(IMG/fondo2.png);
      }
    
      
    .formulario{
     background-color:ivory;
     display: inline-block;
     padding: 50px;
     margin:38px 100px 50px 100px;
     border-radius:20px;
     text-align:left;
     font-weight:bolder;
     font-size:larger;
     color:#446a80;
     box-shadow: 2px 4px 15px 5px #000;
     font-family:'Handlee', cursive;  
     }

     form input{
        display:block;    
        color:#384D59;
        border-radius: 10px;
        font-family:'Handlee', cursive;
        margin:5px 5px 5px 5px;
        width: 180px;
        font-size:larger;
        text-align: center;
     } 

    .buttonValidar{
        display: flex;
        background-color:#384D59;
        color:rgb(255, 255, 255);
        border-radius: 10px; 
        font-family:'Handlee', cursive;  
        font-size: x-large;
        width:100px;
        margin-left: 50%;
        transform: translateX(-50%);
        
        }
       
     .card{
     width: 500px;
     height: 300px;
     border-top:1px  blue;
     border-left: 1px blue;
     border-radius: 10px;
     backdrop-filter:blur(7px);
     box-shadow: 4px 4px 4px black;
     cursor: pointer;
     font-family:'Handlee', cursive; 
     margin:100px 100px 50px 100px;
     background:url(IMG/fondo\ tarjeta\ masterCard.png);
     background-size: cover;
     }

     .MasterCard{
     width: 80px;
     height: 80px;
     background:url(IMG/logo-mastercard-4096.png);
     filter: brightness(0.8);
     background-size: cover;
     position:relative;
     top: 10px;
     left: 370px;
     }

     .chip{
        width: 50px;
        height: 50px;
        margin: 25px;
        background: url(IMG/chip-card.png);
        background-size: cover;
        position: relative;
        top: 0px;
        left: 40 px;
     }

     .card-number{
        
        width: 100px;
        height: 100px;
        position: relative;
        top: 25px;
        left: 30px;
        font-family:'Orbitron', sans-serif;
        font-size:25px;
        letter-spacing: 5px;
        color:#9f842a;
        text-shadow:2px 2px 2px  rgb(158, 109, 4);
        }

     .meta{
        display:flex;
        width: 370 px;
        justify-content: space-between;
     }
     
     .name{ 
        width: 100px;
        height: 1000px;
        position: relative;
        top: 20px;
        left: 30px;
        font-family: 'Orbitron', sans-serif;
        font-size: 23px;
        letter-spacing: 3px;
        color:black;
        text-shadow:2px 2px 2px blanchedalmond;
        }

 
     


          
     

